.main
  .main-header
    .main-header__left
      %p.main-header__left__group
        = @group.name
      %ul.main-header__left__member
        %p Menber：
        %li.main-header__left__member__name
        - @group.users.each do |user|
          %p= user.name
    .main-header__right__btn
      = link_to edit_group_path(@group.id) do
        = "EDIT"

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('far', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
