.side
  .side_header
    .side_header__name
      %p.side_header__name__label
        = current_user.name
      %ul.side_header__name__icon
        %li.side_header__name__edit
          = link_to new_group_path do
            = icon('fas', 'pen-square', class: 'icon')
        %li.side_header__name__cog
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')

  .side_groups
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。