.side
  .side-header
    .side-header__name
      %p.side-header__name__label
        = current_user.name
      %ul.side-header__name__icon
        %li.side-header__name__edit
          = link_to new_group_path do
            = icon('fas', 'pen-square', class: 'icon')
        %li.side-header__name__cog
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')

  .side-groups
    - current_user.groups.each do |group|
      .side-groups__group
        = link_to group_messages_path(group) do
          .group__name
            %h3= group.name
            %a= group.show_last_message